{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'fichiers/img/Favicon.png' %}"
            type="image/x-icon">
        <link rel="stylesheet" href="{% static 'fichiers/style.css' %}">
        <link rel="stylesheet" href="{% static 'fichiers/show.css' %}">
        <link rel="stylesheet" href="{% static 'fichiers/bootstrap.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="plateforme">

        <div class="container-fluid" id="header">
            <div class="row">
                <div class="col-md-12">
                    <div class="nav">
                       {% if user.is_superuser %}
                        <a href="/deliveries" class>
                            <img class="img-fluid logo"
                                src="{% static 'fichiers/img/FedRelay.png' %}"
                                alt class>
                        </a>
                        {% else %}
                        <a href="/colis" class>
                            <img class="img-fluid logo"
                                src="{% static 'fichiers/img/FedRelay.png' %}"
                                alt class>
                        </a>
                        {% endif %}

                        <div class="nav--actions">
                            <img class="notification img-fluid"
                                src="{% static 'fichiers/img/notification.png' %}"
                                alt
                                srcset>
                            {% if not user.is_authenticated %}
                            <a href="https://www.fedrelay.com/" class="btn deconnexion">
                                <img class="export img-fluid"
                                    src="{% static 'fichiers/img/Export.png' %}"
                                    alt
                                    srcset>
                                Allez sur le site web
                            </a>
                            {% else %}
                                {% if user.is_superuser %}
                                <a href="/logout" class="btn deconnexion">
                                    <img class="export img-fluid"
                                        src="{% static 'fichiers/img/Export.png' %}"
                                        alt
                                        srcset>
                                    DECONNEXION
                                </a>
                                {% else %}
                                <a href="/colis/logout" class="btn deconnexion">
                                    <img class="export img-fluid"
                                        src="{% static 'fichiers/img/Export.png' %}"
                                        alt
                                        srcset>
                                    DECONNEXION
                                </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "partials/_appLinks.html" %}

        {% block content %}
        {% endblock content %}

        <div class="container-fluid fixed-bottom" id="footer">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class>© 2023 - Tout droit réservé à Innov'Prime</p>
                </div>
            </div>
        </div>

        <script src="{% static 'fichiers/bootstrap.bundle.js'% }"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    </body>
</html>